<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/default.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" type="text/css" href="/css/passCheck.css"/>
    <!-- google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@350&display=swap" rel="stylesheet">


    <!-- google icon -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="top-header">
            <ul>
                <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a
                        th:href="@{/member/join}"> 회원가입 </a></li>
                <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a
                        th:href="@{/member/reservation}"> 바로예매 </a></li>
                <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a href="">고객센터</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{admin/main}">관리자 페이지</a>
                </li>
                <li><a href="javascript:void(0)"><span class="material-symbols-outlined" data-bs-toggle="modal"
                                                       data-bs-target="#exampleModal">menu</span></a></li>
            </ul>
        </div>


        <div class="second-header">
            <div class="left">
                <ul class="sns">
                    <li><a href=""><img src="/image/페이스북.png" alt="페이스북로고">&nbsp;페이스북</a></li>
                    <li><a href="" style="width: 35px"><img src="/image/유튜브-removebg-preview.png" alt="유튜브로고">&nbsp;유튜브</a>
                    </li>
                    <li><a href=""><img src="/image/인스타그램.png" alt="인스타그램로고">&nbsp;인스타그램</a></li>
                </ul>
            </div>
            <div class="center">
                <div class="logo">
                    <a th:href="@{/main}"><img src="/image/logo.jpg"/></a>
                </div>

            </div>
            <div class="right">
                <ul>
                    <!-- 로그인상태 -->
                    <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a
                            th:href="@{/member/userInfo}"><span class="material-symbols-outlined credit_card">credit_card</span></a>
                    </li>  <!--멤버쉽-->
                    <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a href=""><span
                            class="material-symbols-outlined groups">groups</span></a></li>            <!--단체관람/대관문의-->
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}"><span
                            class="material-symbols-outlined logout">logout</span></a></li>            <!--로그아웃-->
                    <!-- 기본상태 -->
                    <li sec:authorize="isAnonymous()"><a th:href="@{/member/login}"><span
                            class="material-symbols-outlined login">login</span></a></li>
                </ul>
                </ul>
            </div>
        </div>
    </header>


    <nav>
        <ul class="mainmenu">
            <li><a href="">예매</a>
                <ul class="submenu">
                    <li><a href="">예매하기</a></li>
                    <li><a href="">상영시간표</a></li>
                    <li><a href="">할인안내</a></li>
                </ul>
            </li>
            <li><a href="">영화</a>
                <ul class="submenu">
                    <li><a href="">홈</a></li>
                    <li><a href="">현재상영작</a></li>
                    <li><a href="">상영예정작</a></li>
                    <li><a href="">아르떼</a></li>
                    <li><a href="">국립극장</a></li>
                </ul>
            </li>
            <li><a href="">영화관</a>
                <ul class=submenu>
                    <li><a href="">스페셜관</a></li>
                    <li><a href="">서울</a></li>
                    <li><a href="">경상/대구</a></li>
                    <li><a href="">경기/인천</a></li>
                    <li><a href="">강원</a></li>
                </ul>
            </li>
            <li><a href="">이벤트</a>
                <ul class="submenu">
                    <li><a href="">홈</a></li>
                    <li><a href="">영화</a></li>
                    <li><a href="">시사회/무대인사</a></li>
                    <li><a href="">HOT</a></li>
                    <li><a href="">제휴할인</a></li>
                    <li><a href="">우리동네영화관</a></li>
                </ul>
            </li>
            <li><a href="">스토어</a>
                <ul class="submenu">
                    <li><a href="">베스트</a></li>
                    <li><a href="">관람권</a></li>
                    <li><a href="">스낵음료</a></li>
                    <li><a href="">포토카드</a></li>
                </ul>
            </li>

        </ul>
    </nav>
    <!-- 마이페이지 버튼 -->
    <div class="mypage-warp">
        <!-- 회원 정보 수정 -->
        <div class="userChange">
            <p class="tip">
                비밀번호 입력
            </p>
            <div class="user-update">
                <form id="pw-update-form" method="post">
                    <label for="nowPw" style="padding-left: 55px;">현재 PW</label> <input type="password" name=""
                                                                                        id="nowPw" class="now_pw_input"
                                                                                        placeholder="현재 PW를 입력해주세요.">
                    <br/>
                    <label for="userPw" style="padding-left: 55px;">새로운 PW</label> <input type="password" name=""
                                                                                          id="userPw" class="pw_input"
                                                                                          placeholder="새로운 PW를 입력해주세요.">
                    <span class="final_pw_ck">비밀번호를 입력해주세요.</span>
                    <br/>
                    <label for="repw">PW 확인</label><input type="password" name="" id="rePw" class="pwck_input"
                                                          placeholder="변경할 비밀번호를 다시 입력해주세요.">
                    <span class="final_pwck_ck">비밀번호 확인해 주세요.</span>
                    <span class="pwck_input_re_1">비밀번호가 일치합니다.</span>
                    <span class="pwck_input_re_2">비밀번호가 일치하지 않습니다.</span>
                    <button type="submit" class="pw-save">전송</button>
                </form>
            </div>

            <div class="pwd-update-btn-center">
                <button class="pwd-update-cancle-btn">나가기</button>
            </div>

        </div>
    </div>
</div>

    <th:block th:replace="~{includes/footer.html :: content}"></th:block>

    <!-- 자바 스크립트 -->
    <!-- 제이쿼리 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- lodash cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"
            integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/userPwd.js"></script>
</body>
</html>