<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <title>예매</title>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/default.css"/>
    <link rel="stylesheet" href="/css/reservation.css"/>
    <!-- Jquery -->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@350&display=swap" rel="stylesheet">


    <!-- google icon -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>


    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="top-header">
            <ul>
                <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a
                        th:href="@{/member/join}"> 회원가입 </a></li>
                <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a
                        th:href="@{/member/reservation}"> 바로예매 </a></li>
                <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a href="">고객센터</a>
                </li>
                <li th:if="${#authorization.expression('hasRole(''ADMIN'')')}"><a th:href="@{admin/main}">관리자 페이지</a>
                </li>
                <li><a href="javascript:void(0)"><span class="material-symbols-outlined" data-bs-toggle="modal"
                                                       data-bs-target="#exampleModal">menu</span></a></li>
            </ul>
        </div>


        <div class="second-header">
            <div class="left">
                <ul class="sns">
                    <li><a href=""><img src="/image/페이스북.png" alt="페이스북로고">&nbsp;페이스북</a></li>
                    <li><a href="" style="width: 35px"><img src="/image/유튜브-removebg-preview.png" alt="유튜브로고">&nbsp;유튜브</a>
                    </li>
                    <li><a href=""><img src="/image/인스타그램.png" alt="인스타그램로고">&nbsp;인스타그램</a></li>
                </ul>
            </div>
            <div class="center">
                <div class="logo">
                    <a th:href="@{/main}"><img src="/image/logo.jpg" /></a>
                </div>

            </div>
            <div class="right">
                <ul>
                    <!-- 로그인상태 -->
                    <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a
                            th:href="@{/member/userInfo}"><span class="material-symbols-outlined credit_card">credit_card</span></a>
                    </li>  <!--멤버쉽-->
                    <li th:if="${#authorization.expression('!hasRole(''ADMIN'') or isAnonymous()')}"><a href=""><span
                            class="material-symbols-outlined groups">groups</span></a></li>            <!--단체관람/대관문의-->
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/member/logout}"><span
                            class="material-symbols-outlined logout">logout</span></a></li>            <!--로그아웃-->
                    <!-- 기본상태 -->
                    <li sec:authorize="isAnonymous()"><a th:href="@{/member/login}"><span
                            class="material-symbols-outlined login">login</span></a></li>
                </ul>
                </ul>
            </div>
        </div>
    </header>


    <nav>
        <ul class="mainmenu">
            <li><a href="">예매</a>
                <ul class="submenu">
                    <li><a href="">예매하기</a></li>
                    <li><a href="">상영시간표</a></li>
                    <li><a href="">할인안내</a></li>
                </ul>
            </li>
            <li><a href="">영화</a>
                <ul class="submenu">
                    <li><a href="">홈</a></li>
                    <li><a href="">현재상영작</a></li>
                    <li><a href="">상영예정작</a></li>
                    <li><a href="">아르떼</a></li>
                    <li><a href="">국립극장</a></li>
                </ul>
            </li>
            <li><a href="">영화관</a>
                <ul class=submenu>
                    <li><a href="">스페셜관</a></li>
                    <li><a href="">서울</a></li>
                    <li><a href="">경상/대구</a></li>
                    <li><a href="">경기/인천</a></li>
                    <li><a href="">강원</a></li>
                </ul>
            </li>
            <li><a href="">이벤트</a>
                <ul class="submenu">
                    <li><a href="">홈</a></li>
                    <li><a href="">영화</a></li>
                    <li><a href="">시사회/무대인사</a></li>
                    <li><a href="">HOT</a></li>
                    <li><a href="">제휴할인</a></li>
                    <li><a href="">우리동네영화관</a></li>
                </ul>
            </li>
            <li><a href="">스토어</a>
                <ul class="submenu">
                    <li><a href="">베스트</a></li>
                    <li><a href="">관람권</a></li>
                    <li><a href="">스낵음료</a></li>
                    <li><a href="">포토카드</a></li>
                </ul>
            </li>

        </ul>
    </nav>

    <div id="container">
        <form th:action="@{/member/reservation}" role="form" method="post" th:object="${movieDTO}">
            <h3 class="ticket-title">영화예매</h3>
            <div class="ticket-info-area" th:object="${movieDTO}">
                <input type="hidden" id="userId" th:value="${#authentication.principal.userId}">
                <ul class="ticket-info">
                    <li>
                    <span class="ticket-movie-poster">
                        <img th:src="@{''}" alt="">
                    </span>
                        <div class="ticket-movie">
                            <div class="ticket-info-title">영화</div>
                            <div class="movie-name"></div>
                        </div>
                    </li>
                    <li>
                        <div class="ticket-info-date">관람일시</div>
                        <div id="txtDate"></div>
                        <div id="txtTime"></div>
                        <div id="lasTxtTime"></div>
                    <li>
                        <div class="ticket-info-seat">선택좌석</div>
                        <div id="seatInfo" style="margin-bottom:15px"></div>
                        <div class="ticket-info-seatNum">선택인원</div>
                        <div id="seatNumInfo"></div>
                    </li>
                    <li>
                        <div class="ticket-info-total">총 결제금액</div>
                        <div class="ticket-price"><span>원</span></div>
                        <input type="hidden" name="moviePrice">
                    </li>
                </ul>
            </div>
            <!-- 예매본문 -->
            <div class="layout-content reserve-wrap">
                <div class="box-step">
                    <dl class="cinema-choice">
                        <dt>
                            <span class="round">STEP 1</span> 영화관 선택
                        </dt>
                        <dd>
                            <ul class="cinema-list">
                                <li>
                                    <button type="button" onclick="setActive(this);" name="theaterLocation">서울</button>
                                    <ul class="choice-list-detail">
                                        <li><button type="button" onclick="setLocal(this);">신림</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="1" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="2" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="3" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                        <li><button type="button" onclick="setLocal(this);">용산</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="4" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="5" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="6" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>

                                        <li><button type="button" onclick="setLocal(this);">홍대입구</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="7" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="8" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="9" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <button type="button" onclick="setActive(this);" name="theaterLocation">경북/대구</button>
                                    <ul class="choice-list-detail">
                                        <li><button type="button" onclick="setLocal(this);">경주</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="10" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="11" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="12" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                        <li><button type="button" onclick="setLocal(this);">동성로</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="13" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="14" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="15" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                        <li><button type="button" onclick="setLocal(this);">포항</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="16" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="17" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="18" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <button type="button" onclick="setActive(this);" name="theaterLocation">경기/인천</button>
                                    <ul class="choice-list-detail">
                                        <li><button type="button" onclick="setLocal(this);">인천아시아드</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="28" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="29" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="30" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                        <li><button type="button" onclick="setLocal(this);">파주</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="31" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="32" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="33" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                        <li><button type="button" onclick="setLocal(this);">용인에버랜드</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="34" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="35" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="36" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <button type="button" onclick="setActive(this);" name="theaterLocation">강원</button>
                                    <ul class="choice-list-detail">
                                        <li><button type="button" onclick="setLocal(this);">동해</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="19" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="20" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="21" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                        <li><button type="button" onclick="setLocal(this);">춘천</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="22" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="23" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="24" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                        <li><button type="button" onclick="setLocal(this);">화천</button>
                                            <ul class="choice-list-detail-theater">
                                                <li><button type="button" data-hidden-value="25" onclick="openPopup(); setTheater(this);">1관</button></li>
                                                <li><button type="button" data-hidden-value="26" onclick="openPopup(); setTheater(this);">2관</button></li>
                                                <li><button type="button" data-hidden-value="27" onclick="openPopup(); setTheater(this);">3관</button></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="date_choice">
                        <dt><span class="round">STEP 2</span> 관람일 선택</dt>
                        <dd>
                            <ul class="choice-list" id="listDate">
                                <li>
                                    <input type="text" name="publeYear">
                                    <input type="hidden" value="">
                                </li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="time_choice">
                        <dt><span class="round">STEP 3</span> 관람시간 선택</dt>
                        <dd>
                            <p class="select-message">관람일을 선택해주세요.</p>
                            <!-- 선택 날짜에 관한 관람시간 리스트 -->
                            <ul class="choice-list">
                                <li class="choice-timeList">
                                    <button type="button" data-hidden-value="10:00:00" name="startTime" onclick="setShowTime(this)">08:00:00</button>
                                    <button type="button" data-hidden-value="13:00:00" name="startTime" onclick="setShowTime(this)">11:00:00</button>
                                    <button type="button" data-hidden-value="17:00:00" name="startTime" onclick="setShowTime(this)">15:00:00</button>
                                    <button type="button" data-hidden-value="20:30:00" name="startTime" onclick="setShowTime(this)">18:30:00</button>
                                    <!--<button type="button" th:each="show : ${timeList}" th:text="${show.showTime}" name="showTime" onclick="setShowTime(this)"></button>-->
                                </li>
                            </ul>
                            <!--  선택 전  -->
                        </dd>
                    </dl>
                    <dl class="seat_choice">
                        <dt><span class="round">STEP 4</span> 좌석 및 잔여석 확인</dt>
                        <dd>
                            <div class="seat-choice-content">
                                <!-- 선택 시간에 관한 좌석 및 잔여석 -->
                                <div>현재 좌석 : <span id="current-seat"></span></div>
                                <div>총 좌석 : <span id="total-seats"></span></div>
                                <!--  선택 전-->
                                <div class="seat_type" id="tickectCountDiv" style="display: block;">
                                    <div class="select-person-area">
                                        <label for="childrenCount" class="select-title" style="margin-right: 10px">어린이 인원 선택 : </label>
                                        <select id="childrenCount" class="select-person">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <label for="teenCount" class="select-title" style="margin-right: 10px">청소년 인원 선택 : </label>
                                        <select id="teenCount" class="select-person">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                        <label for="adultCount" class="select-title" style="margin-right: 10px">성인 인원 선택 : </label>
                                        <select id="adultCount" class="select-person">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <p class="tx_deco">최대 10명까지 선택가능 합니다.</p>
                                </div>
                            </div>
                            <div class="txt_comment" id="seatComment" style="display: block;">관람시간을 선택해주세요.</div>
                        </dd>
                    </dl>

                </div>
                <div class="screen">
                    <span class="screen-title">SCREEN</span>
                    <div class="seat-area">
                        <span class="screen-stage">SCREEN</span>
                        <div class="seat-container">
                            <div class="row">
                                <span>A</span>
                                <div class="seat" data-hidden-value="A1"><span>1</span></div>
                                <div class="seat" data-hidden-value="A2"><span>2</span></div>
                                <div class="seat" data-hidden-value="A3"><span>3</span></div>
                                <div class="seat" data-hidden-value="A4"><span>4</span></div>
                                <div class="seat" data-hidden-value="A5"><span>5</span></div>
                                <div class="seat" data-hidden-value="A6"><span>6</span></div>
                                <div class="seat" data-hidden-value="A7"><span>7</span></div>
                                <div class="seat" data-hidden-value="A8"><span>8</span></div>
                                <div class="seat" data-hidden-value="A9"><span>9</span></div>
                                <div class="seat" data-hidden-value="A10"><span>10</span></div>
                            </div>
                            <div class="row">
                                <span>B</span>
                                <div class="seat" data-hidden-value="B1"><span>11</span></div>
                                <div class="seat" data-hidden-value="B2"><span>12</span></div>
                                <div class="seat" data-hidden-value="B3"><span>13</span></div>
                                <div class="seat" data-hidden-value="B4"><span>14</span></div>
                                <div class="seat" data-hidden-value="B5"><span>15</span></div>
                                <div class="seat" data-hidden-value="B6"><span>16</span></div>
                                <div class="seat" data-hidden-value="B7"><span>17</span></div>
                                <div class="seat" data-hidden-value="B8"><span>18</span></div>
                                <div class="seat" data-hidden-value="B9"><span>19</span></div>
                                <div class="seat" data-hidden-value="B10"><span>20</span></div>
                            </div>
                            <div class="row">
                                <span>C</span>
                                <div class="seat" data-hidden-value="C1"><span>21</span></div>
                                <div class="seat" data-hidden-value="C2"><span>22</span></div>
                                <div class="seat" data-hidden-value="C3"><span>23</span></div>
                                <div class="seat" data-hidden-value="C4"><span>24</span></div>
                                <div class="seat" data-hidden-value="C5"><span>25</span></div>
                                <div class="seat" data-hidden-value="C6"><span>26</span></div>
                                <div class="seat" data-hidden-value="C7"><span>27</span></div>
                                <div class="seat" data-hidden-value="C8"><span>28</span></div>
                                <div class="seat" data-hidden-value="C9"><span>29</span></div>
                                <div class="seat" data-hidden-value="C10"><span>30</span></div>
                            </div>
                            <div class="row">
                                <span>D</span>
                                <div class="seat" data-hidden-value="D1"><span>31</span></div>
                                <div class="seat" data-hidden-value="D2"><span>32</span></div>
                                <div class="seat" data-hidden-value="D3"><span>33</span></div>
                                <div class="seat" data-hidden-value="D4"><span>34</span></div>
                                <div class="seat" data-hidden-value="D5"><span>35</span></div>
                                <div class="seat" data-hidden-value="D6"><span>36</span></div>
                                <div class="seat" data-hidden-value="D7"><span>37</span></div>
                                <div class="seat" data-hidden-value="D8"><span>38</span></div>
                                <div class="seat" data-hidden-value="D9"><span>39</span></div>
                                <div class="seat" data-hidden-value="D10"><span>40</span></div>
                            </div>
                            <div class="row">
                                <span>E</span>
                                <div class="seat" data-hidden-value="E1"><span>41</span></div>
                                <div class="seat" data-hidden-value="E2"><span>42</span></div>
                                <div class="seat" data-hidden-value="E3"><span>43</span></div>
                                <div class="seat" data-hidden-value="E4"><span>44</span></div>
                                <div class="seat" data-hidden-value="E5"><span>45</span></div>
                                <div class="seat" data-hidden-value="E6"><span>46</span></div>
                                <div class="seat" data-hidden-value="E7"><span>47</span></div>
                                <div class="seat" data-hidden-value="E8"><span>48</span></div>
                                <div class="seat" data-hidden-value="E9"><span>49</span></div>
                                <div class="seat" data-hidden-value="E10"><span>50</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reserve-note">
                    <div class="precautions"><strong>예매 시 주의사항</strong></div>
                    <div class="precautions-content">
                        <p>※ 예매시 주의 사항</p>
                        <p>1. 홈페이지 예매 후 현장에서 결제수단을 변경 할 수 없습니다.</p>
                        <p>2. 영화 날짜 및 시간 변경은 취소 후 다시 예매 진행을 하셔야 합니다.</p>
                        <p>3. 부분 취소 환불은 불가능합니다.</p>
                        <ul class="reserve-rule">
                            <li>※예매 취소 및 환불 규정</li>
                            <li>&nbsp; &nbsp;· 인터넷(모바일)예매 : 영화 상영 시간 20분 전까지 환불 가능.<br>
                                &nbsp; &nbsp; &nbsp; &nbsp;(인터넷(모바일)예매 후 현장에서 결제수단변경을 원하실 경우 상영시간 20분전까지 직접 예매 취소 후 재결제 하셔야
                                합니다.)
                            </li>
                            <li>&nbsp; &nbsp;· 현장예매 : 영화상영시간 전까지 취소 및 환불 가능.</li>
                        </ul>

                    </div>

                </div>

            </div>
            <div class="payment-area">
                <button id="payment" type="button" class="join-submit join-button" onclick="requestPayment()">결제</button>
            </div>
        </form>
    </div>
    <footer th:fragment="content">
        <div class="footer">
            <div class="inner">
				<span class="footerlogo"> <img
                        src="/image/logo3.png" alt="">
				</span>
                <ul class="footermenu">
                    <li><a href="#">이용약관</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이메일무단수집거부</a></li>
                    <li><a href="#">영상정보처리기기 운영 및 관리방침</a></li>
                    <li><a href="#">L.POINT회원안내</a></li>
                    <li><a href="#">배정기준</a></li>
                    <li><a href="#">채용안내</a></li>
                    <li><a href="#">광고/임대문의</a></li>
                    <li><a href="#">기업정보</a></li>
                    <li><a href="#">사회적책임</a></li>
                </ul>
                <div class="address">
                    <address>서울특별시 송파구 올림픽로 300 롯데월드타워 27층</address>
                    <span class="bar">고객센터 1544-8855 (유료)</span><br> <span
                        class="bar">대표이사 4조</span> <span class="bar">사업자등록번호
						111-11-11111</span> <span class="bar">통신판매업신고번호 제1111호</span> <span
                        class="bar">개인정보보호책임자 4조</span>
                </div>
                <p class="copyright" style="font-size: 12px;">COPYRIGHT LOTTE
                    CINEMA ALL RIGHT RESERVED.</p>
            </div>
        </div>
    </footer>
</div>

<!-- 자바 스크립트 -->
<!-- 제이쿼리 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- lodash cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js" integrity="sha512-WFN04846sdKMIP5LKNphMaWzU7YpMyCU245etK3g/2ARYbPK9Ub18eG+ljU96qKRCWh+quCY7yefSmlkQw1ANQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- Swiper -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script type="text/javascript" src="/js/reservation.js"></script>
<!-- 포트원 -->
<script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</body>
</html>