/*top-banner*/
.top-banner{
    width:100%;
    height:70px;
    background-color: beige;
}
.top-banner .header{
    display:flex;
    justify-content: right;
    margin-left:20px;
}

/* header */
header{}
header>.top-header{
 border-bottom : 1px solid lightgray;
 height:30px;
 line-height:24px;
 display:grid;
 justify-content:right;
 margin-bottom: 10px;
 font-size:0.9rem;

}
header>.top-header>ul{
    width:500px;
    display:flex;
    justify-content:right;
    align-items : center;
}
header>.top-header>ul>li{
    width : 100px;
    height:30px;


    text-align:center;
    position:relative;

}
header>.top-header>ul>li::after{
    content : "";
    display:block;
    position:absolute;
    text-align:right;
    left:120%;top:0px;
}
header>.top-header>ul>li:last-child::after
{
    display:none;
}

/* header > .second-header */
header>.second-header{
    height : 80px;
    border-bottom: 1px solid lightgray;
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header>.second-header .material-symbols-outlined{
    font-size:3.5rem;
    color:gray;
}

header>.second-header>.left{
    width : 500px;
    height:100%;
}

header>.second-header>.left>ul{
    height:100%;
    width : 500px;
    display:flex;
    justify-content: center;
    align-items: end;

}
header>.second-header>.left>ul>li{
    width:80px;
    height:30px;
    font-size:0.7rem;
    color:gray;
    overflow: hidden;
}
header>.second-header>.left>ul>li img{
    width:15px;
    height:15px;
    position:relative;
}
header>.second-header>.center{

    height:100%;

    display:flex;
    justify-content: center;
    align-items: center;
}
header>.second-header>.center>.logo{
    width:200px;height:80px;
    /* border : 1px solid gray; */
    text-align: center;
}
header>.second-header>.center>.logo img{
    width : 60%;
    border-radius: 25%;
}
header>.second-header>.right{
    width : 500px;
    height:100%;
}
header>.second-header>.right>ul{
    height:100%;
    display:flex;
    justify-content: right;
    align-items: center;
}
header>.second-header>.right>ul>li{
    width : 100px;
    text-align:center;
    margin-left:40px;

}
header>.second-header>.right .credit_card::after{
    content : "마이페이지";
    display:block;
    text-align: center;
    font-size:12px;
}
header>.second-header>.right .groups::after{
    content : "단체관람/대관문의";
    display:block;
    text-align: center;
    font-size:12px;
}
header>.second-header>.right .logout::after{
    content : "로그아웃";
    display:block;
    text-align: center;
    font-size:12px;
}
header>.second-header>.right .login::after{
    content : "로그인";
    display:block;
    text-align: center;
    font-size:12px;
}

/* nav */
nav{
    height:30px;
    /* border : 1px solid gray;   */
    background-color: white;
    position:relative;
}
nav>.mainmenu{
    width :100%;
    display:flex;
    justify-content: center;
    align-items: start;
 }
nav>.mainmenu>li{
    width : 200px;
    text-align:center;
}
nav>.mainmenu>li>a{
    display:block;
    height:30px;
}
nav>.mainmenu>li>.submenu{
    display:none;
}
nav>.mainmenu>li:hover .submenu{
    position:absolute;
    /* border : 1px solid gray; */
    border-bottom: 1px solid lightgray;
    left:0px;
    width : 100%;
    display:block;
    display:flex;
    justify-content : center;
    font-size:0.9rem;
    line-height:30px;
    z-index: 2;
    background-color: white;
}
nav>.mainmenu>li>.submenu>li{
    height:30px;
    text-align:center;
    width : 120px;
}
nav>.mainmenu>li>.submenu>li>a{
    display:block;
}

/* 모달창 Style */
.modal-dialog.modal-xl {
    position:relative;
    top:80px;
    width:1200px;
    height: 700px;

}
.modal-dialog .modal-body{
    height:700px;
}

.modal-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.modal-body>div{
    width : 400px;
    height: 100%;
    border : 1px solid gray;
    border-radius: 15px;
    margin:10px;
    padding : 10px;
    text-align: center;
}
