<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- 버거 메뉴 모달 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" th:fragment="modal">
    <div class="modal-dialog modal-xl modal-fullsize" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <div><h3>TOP-MENU</h3></div>
                </div>
                <div>
                    <div><h3>TOP-MENU</h3></div>
                </div>
                <div>
                    <div><h3>TOP-MENU</h3></div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>